.body {
  grid-area: body;
  padding-top: 45px;
  margin-left: var(--gap);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
}

.left {
  display: flex;
  align-items: center;
}
