* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #3b434e;
  --color-black-light: #787D85;
  --color-white: #f9f8ff;
  --color-gray: #c4c4c4;
  --color-gray-light: #e5e5e5;
  --color-primary: #7653fc;
  --color-incorrect: #fc836d;
  --color-correct: #c8f8e4;

  --gap: 30px;
}

.main {
  grid-area: body;
  padding-top: 45px;
  padding-bottom: var(--gap);
  margin-left: var(--gap);
}

.main__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
}

.main__left {
  display: flex;
  align-items: center;
}


.react-quiz-container {
  margin: 0 !important;
  width: 100% !important;
  background: var( --color-white);
  border: 1px solid var( --color-primary);
  border-radius: 5px;
  padding: 30px 45px;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
}

.react-quiz-container h2 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-black);
}

.p {
  font-size: 22px;
  margin-bottom: 15px;
}

.react-quiz-container .startQuizWrapper {
  margin-top: var(--gap);
}

.react-quiz-container .btn {
  border-radius: 5px !important;
  border-color: var(--color-gray) !important;
  color: var(--color-black);
  font-weight: 500 !important;
}

.react-quiz-container .startQuizWrapper .startQuizBtn {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.react-quiz-container .answerBtn {
  background-color: var(--color-white);
}

.react-quiz-container .incorrect {
  background: var(--color-incorrect) !important;
  color: var(--color-black) !important;
}

.react-quiz-container .correct {
  background: var(--color-correct) !important;
  color: var(--color-black) !important;
}

.react-quiz-container .questionWrapper img {
  width: 60% !important;
}
