* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #3b434e;
  --color-black-light: #787D85;
  --color-white: #f9f8ff;
  --color-gray: #c4c4c4;
  --color-gray-light: #e5e5e5;
  --color-primary: #7653fc;

  --gap: 30px;
}
